<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-offset-2">
      <%= link_to "Manage Stories", stories_path() %>
    </div>
    <div class="col-lg-3">
      Categoies
    </div>
  </div>
</div>
