<%= form_for(Story.new) do |f|%>
  <div class ="form-group">
    <%= f.text_field :title, :class => "form-control", :placehoder => "Add Title" %>
  </div>
  <div class ="form-group">
    <%= f.text_area :content, :class => "form-control", :placeholder => "Add Content" %>
  </div>
  <%= f.submit "Submit", class: 'btn btn-Primary' %>
<% end %>
