<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <% @stories.each do |story|%>
        <h3><%= link_to(story.title, story_path(story)) %></h3>
        <%= story.content.html_safe %>
      <% end %>
    </div>
    <%= will_paginate @stories %>
    <div class="col-lg-3">
      Categoies
    </div>
  </div>
</div>
