.custom_navbar{
  border-radius: 0px;
  background-color: #563d7c;
  border-color: #080808;
  font-size: 16px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #cbbde2;
}
.navbar-nav > .active > a, .custom_navbar .navbar-nav > .active > a:hover,
.custom_navbar .navbar-nav > .active > a:focus {
  color: #ffffff !important;
  background-color: #563d7c !important;
  font-weight: 500;
}

