.custom_navbar{
  border-radius: 0px;
  background-color: #563d7c;
  border-color: #080808;
  font-size: 16px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #cbbde2;
}
.navbar-nav > .active > a, .custom_navbar .navbar-nav > .active > a:hover,
.custom_navbar .navbar-nav > .active > a:focus {
  color: #ffffff !important;
  background-color: #563d7c !important;
  font-weight: 500;
}
.field_with_errors {
  padding: 2px;
  color: red;
}

.bd-footer {
  padding: 2rem 0;
  margin-top: 2rem;
  font-size: 85%;
  text-align: center;
  background-color: #f7f7f7;
}
.text-muted {
  color: #636c72!important;
}
