.custom_navbar{
  border-radius: 0px;
  background-color: #563d7c;
  border-color: #080808;
  font-size: 16px;
}
.navbar-default .navbar-text {
  color: blue !important;
}
.navbar-default .navbar-nav > li > a {
  color: #337ab7 !important;
  font-size: 17px;
}
.navbar-nav > .active > a, .custom_navbar .navbar-nav > .active > a:hover,
.custom_navbar .navbar-nav > .active > a:focus {
  color: #ffffff !important;
  background-color: #563d7c !important;
  font-weight: 500;
}

.field_with_errors {
  padding: 2px;
  color: red;
}

.bd-footer {
  padding: 1rem 0;
  margin-top: 2rem;
  font-size: 85%;
  text-align: center;
  background-color: #EFEFEE;
  position: fixed;
  width: 100%;
  bottom: 0;

}
.text-muted {
  color: #636c72!important;
}
