<nav class="navbar navbar-inverse custom_navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">Theme</a></li>
      <li><a href="#">Jobs</a></li>
      <li><a href="#">Documentation</a></li>
      <li><a href="#">Expo</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/stories/new"><span class="glyphicon glyphicon-user"></span>New Story</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
